:root {
  --max-content-width: 1360px;

  /* colors */
  --white: #ffffff;
  --black: #000000;

  --primary50: #5700ff;
  --primary60: #7833ff;
  --primary70: #9a66ff;
  --primary80: #bc99ff;
  --primary90: #decffc;
  --primary95: #eee5ff;
  --primary97: #f5f0ff;
  --primary99: #fcfaff;

  --light85: #e1dbd1;
  --light90: #ebe7e0;
  --light92: #eeebe5;
  --light95: #f5f3f0;
  --light96: #f7f6f3;
  --light97: #f9f8f6;
  --light98: #fbfaf9;
  --light99: #fdfdfc;

  --grey10: #191919;
  --grey20: #333333;
  --grey30: #4c4c4c;
  --grey40: #666666;
  --grey50: #808080;
  --grey60: #999999;
  --grey70: #b3b3b3;
  --grey80: #cccccc;

  --purple: #9e00ff;
  --green: #5edc11;
  --yellow: #ffce22;
  --orange: #ff7222;
  --pink: #ff22e9;
  --blue: #2260ff;

  /* font-weight */
  --light: 200;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  /* spacing */
  --spacing-xs: 0.8rem;
  --spacing-sm: 1.6rem;
  --spacing-md: 2.4rem;
  --spacing-lg: 3.2rem;

  /* font-sizing */
  --font-size-heading-xl: 3.8rem;
  --font-size-heading-lg: 2.8rem;
  --font-size-heading-md: 2.4rem;
  --font-size-heading-sm: 1.8rem;
  --font-size-body-lg: 1.6rem;
  --font-size-body-md: 1.4rem;
  --font-size-body-sm: 1.2rem;
}

/* Styles globaux (mobile-first)*/
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: Arial, sans-serif;
  color: var(--grey20);
  background-color: var(--light85);
  font-family: "Manrope", serif;
  padding: 0 var(--spacing-sm);
}

/* HEADING */
.heading-xl {
  font-size: var(--font-size-heading-xl);
  color: var(--primary50);
}

.heading-lg {
  font-size: var(--font-size-heading-lg);
  font-weight: var(--semibold);
}

.heading-sm {
  font-size: var(--font-size-heading-sm);
  font-weight: var(--semibold);
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md) 0;
  gap: var(--spacing-sm);
  border-bottom: 0.1rem var(--grey70) solid;
}

.header-name,
.footer-name {
  flex: 1;
  color: var(--primary50);
  font-weight: var(--semibold);
  font-size: var(--font-size-heading-sm);
}

.header-nav {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header-link {
  font-size: var(--font-size-body-md);
  padding: var(--spacing-xs) var(--spacing-sm);
  margin: 0 calc(var(--spacing-xs) / 2);
  border-radius: 0.6rem;
  background-color: var(--light95);
  transition: all 400ms;
}

.header-link:hover {
  transform: scale(1.1);
  background-color: var(--primary50);
  color: var(--light95);
}

/* ABOUT ME */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--spacing-lg) 0;
}

.about-me-picture {
  height: 40rem;
  border-radius: 0.6rem;
  margin-bottom: var(--spacing-md);
}

.about-me-content {
  display: flex;
  flex-direction: column;
}

.about-me-hello {
  font-size: var(--font-size-body-md);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: 0.6rem;
  background-color: var(--light95);
  align-self: center;
  transition: transform 600ms;
}

.about-me-hello:hover {
  transform: scale(1.3);
}

.about-me-title {
  margin: var(--spacing-sm) 0;
  text-align: center;
}

.about-me-desc {
  font-size: var(--font-size-body-md);
  text-align: center;
}

.about-me-figures-container {
  display: flex;
  flex: 1;
  background-color: var(--light95);
  border-radius: 0.6rem;
  padding: var(--spacing-xs) var(--spacing-sm);
  margin: var(--spacing-md) 0;
}

.about-me-figures-block {
  margin-right: var(--spacing-md);
}

.about-me-figures {
  font-size: var(--font-size-heading-lg);
  font-weight: var(--medium);
}

.about-me-plus {
  color: var(--primary50);
}

.about-me-figures-label {
  font-size: var(--font-size-body-sm);
}

/* TECH STACK */
.tech-stack-title {
  text-align: center;
}

.tech-stack-subtitle {
  text-align: center;
  font-size: var(--font-size-body-lg);
}

.tech-stack-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-md) var(--spacing-md);
  justify-content: center;
  margin: var(--spacing-md) 0;
}

.tech-stack-logo {
  width: 8rem;
  transition: transform 800ms ease-in-out;
}

.tech-stack-logo:hover {
  transform: rotate(360deg);
}

/* PROJECTS */
.projects-title {
  text-align: center;
}

.projects-subtitle {
  text-align: center;
  font-size: var(--font-size-body-lg);
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: var(--spacing-md) 0;
  gap: var(--spacing-sm);
}

.projects-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--light95);
  border-radius: 0.6rem;
  padding: var(--spacing-sm);
  cursor: pointer;
  transition: all 400ms;
  z-index: 10;
}

.projects-card:hover {
  transform: scale(1.15);
  background-color: var(--primary90);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 20;
}

.projects-card-logo {
  height: 20rem;
  margin-bottom: var(--spacing-xs);
}

.projects-card-content {
  border-top: 0.1rem solid var(--grey20);
}

.projects-card-type {
  font-size: var(--font-size-body-sm);
}

.projects-card-title {
  margin: var(--spacing-xs) 0;
}

.projects-card-desc {
  font-size: var(--font-size-body-md);
}

/* CONTACT FORM */

.contact {
  border-top: 0.1rem solid var(--grey20);
  padding: var(--spacing-sm) 0;
}

.contact-title {
  text-align: center;
}

.contact-subtitle {
  text-align: center;
  font-size: var(--font-size-body-lg);
}

.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spacing-sm);
  gap: var(--spacing-sm);
}

.form-message {
  resize: none;
}

.form-input {
  width: 100%;
  border: 0.1rem var(--light85) solid;
  background-color: var(--light95);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: 0.6rem;
  color: var(--grey30);
  font-size: var(--font-size-body-md);
  font-family: "Manrope", serif;
}

.form-input:focus {
  outline: 0.2rem var(--primary50) solid;
}

.form-button {
  background-color: var(--primary50);
  border: none;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: 0.6rem;
  color: var(--white);
  font-size: var(--font-size-body-md);
  cursor: pointer;
}

.form-button:disabled {
  background-color: var(--primary90);
  cursor: not-allowed;
}

.form-error {
  color: var(--orange);
  font-size: var(--font-size-body-md);
  font-weight: var(--semibold);
}

/* FOOTER */
.footer {
  position: relative;
  border-top: 0.1rem solid var(--grey20);
  padding-top: var(--spacing-sm);
}

.footer-name {
  text-align: end;
  margin-bottom: var(--spacing-sm);
}

.footer-links,
.footer-contacts {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: var(--spacing-sm);
  gap: var(--spacing-sm);
}

.footer-contacts {
  gap: calc(var(--spacing-lg) * 2);
}

.footer-block {
  cursor: pointer;
}

.footer-block:focus-within .footer-label {
  display: block;
  width: 60%;
  padding: var(--spacing-md) 0;
  text-align: center;
  background-color: var(--light95);
  border-radius: 0.6rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: var(--font-size-body-md);
  font-weight: var(--medium);
}

.footer-label {
  display: none;
}

.footer-to-top {
  display: block;
  text-align: center;
  margin: var(--spacing-sm) 0;
  font-size: var(--font-size-body-md);
  cursor: pointer;
}

.footer-icon {
  color: var(--primary50);
  font-size: 2.8rem;
}

.copyrights {
  text-align: center;
  font-weight: var(--light);
}

/* Breakpoint for tablet in portrait mode (>= 576px) */
@media (min-width: 576px) {
  html {
    font-size: 70.5%;
  }

  .header {
    padding: var(--spacing-md) 0;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Breakpoint forsmall laptop and tablet in landscape mode  (>= 768px) */
@media (min-width: 768px) {
  body {
    padding: 0 var(--spacing-lg);
  }

  .header {
    padding: var(--spacing-md) 0;
    flex-direction: row;
  }

  .header-name {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .header-nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }

  .about-me {
    flex-direction: row-reverse;
  }

  .about-me-picture {
    height: 50rem;
    border-radius: 0.6rem;
    margin-bottom: var(--spacing-md);
  }

  .about-me-content {
    display: flex;
    flex-direction: column;
  }

  .about-me-hello {
    align-self: flex-start;
  }

  .about-me-title {
    margin: var(--spacing-sm) 0;
    text-align: start;
    padding-right: var(--spacing-lg);
  }

  .about-me-desc {
    font-size: var(--font-size-body-md);
    text-align: start;
    padding-right: var(--spacing-lg);
  }

  .about-me-figures-container {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form- input {
    width: 60%;
  }

  .footer-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .footer-links {
    order: 1;
    justify-content: flex-start;
  }
}

/* Breakpoint for standard laptop(>= 992px) */
@media (min-width: 992px) {
  html {
    font-size: 78.5%;
  }

  body {
    padding: 0 80px;
  }

  .header {
    padding: var(--spacing-md) 0;
  }

  .tech-stack-logo {
    width: 9rem;
  }
}

/* Breakpoint for wide screens (>= 1200px) */
@media (min-width: 1200px) {
  body {
    margin-left: calc((100vw - var(--max-content-width)) / 2);
    margin-right: calc((100vw - var(--max-content-width)) / 2);
    padding: 0 162px;
  }

  .header {
    padding: var(--spacing-md) 0;
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
